@model Employee

@{
    ViewData["Title"] = "Удаление сотрудника №@Model.ID";
}

<div class="container">

    <h2>ViewData["Title"]</h2>

    <h3>Вы уверены, что хотите удалить сотрудника?</h3>
    <div>
        <h4>Сотрудник</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SurName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SurName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Patronymic)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Patronymic)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>

        <form asp-action="DeleteConfirmed" asp-route-id="@Model.ID">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Вернуться назад</a>
        </form>
    </div>
</div>