@model EmployeeViewModel

@{
    ViewData["Title"] = $"Сотрудник № {Model.ID}";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr />

    <p>@Model.Name</p>
    <p>@Model.SecondName</p>
    <p>@Model.Patronymic</p>
    <p>@Model.Age</p>

    <hr />
    <a asp-controller="Employees" asp-action="Index">Список сотрудников</a>
</div>
